.snake-box {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.snakeHead {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #242424;
    border-radius: 50%;
    transform: translateX(-50%);

}

.snakeBrakePoint1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #242424;
    border-radius: 50%;
    transform: translateX(-50%);

}
.snakeBrakePoint1::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 5px;
    left: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.snakeBrakePoint1::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    bottom: 5px;
    left: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.snakeBrakePoint {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #00f2ff;
    border-radius: 50%;
    
}
.point{
    transition: scale 500ms ease-in-out;
    
    transition: background-color 500ms ease-in-out;
    animation: point 2s infinite;
}
body {
    /* cursor: none; */
    overflow: hidden;
}
@keyframes point {
    0%{
        scale: 100%;
        filter: blur(2px);
    }
    25%{
        scale: 105%;
        filter: blur(4px);
    }
    50%{
        scale: 110%;
        filter: blur(8px);
    }
    75%{
        scale: 105%;
        filter: blur(4px);
    }
    100%{
        scale: 100%;
        filter: blur(2px);
    }
   
    
}